################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/GestionScolariteIUT.slnx/FileContentIndex/0be67aae-0984-45d0-8b4b-f44ff9cb6049.vsidx
/.vs/GestionScolariteIUT.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/GestionScolariteIUT.slnx/FileContentIndex/f339ea49-72ea-4cab-92a3-cbebddb85e74.vsidx
/.vs/GestionScolariteIUT.slnx/FileContentIndex/f915aae9-74b5-40bf-b459-68154d31d6b6.vsidx
/.vs/GestionScolariteIUT.slnx/v18/.suo
