################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/GestionScolariteIUT.slnx/FileContentIndex/0be67aae-0984-45d0-8b4b-f44ff9cb6049.vsidx
/.vs/GestionScolariteIUT.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/GestionScolariteIUT.slnx/FileContentIndex/f339ea49-72ea-4cab-92a3-cbebddb85e74.vsidx
/.vs/GestionScolariteIUT.slnx/FileContentIndex/f915aae9-74b5-40bf-b459-68154d31d6b6.vsidx
/.vs/GestionScolariteIUT.slnx/v18/.suo
/.vs/GestionScolariteIUT.slnx/FileContentIndex/f3391b1c-12af-41c7-a5c8-996a75aa8192.vsidx
/.vs/GestionScolariteIUT.slnx/FileContentIndex/ef6c0645-cc49-4162-94b2-f5ac778569b4.vsidx
/.vs/GestionScolariteIUT.slnx/FileContentIndex/fd4be2a5-8573-4f90-a347-1d097b665121.vsidx
/.vs/GestionScolariteIUT.slnx/FileContentIndex/733b8c2b-b883-418c-8d7f-a9a84fd41a0c.vsidx
